
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Home</title>
		<style>
			table {
			  font-family: arial, sans-serif;
			  border-collapse: collapse;
			  width: 100%;
			}
			
			td, th {
			  border: 1px solid #dddddd;
			  text-align: left;
			  padding: 8px;
			}
		</style>
	</head>
	<body>
		<h1>Gamified Marketing Application</h1>
        <div align="right">
            <a href="Logout">Logout</a>
        </div>
		<!-- Product of the day -->
		<div th:if="${product}">
			<h3>Product of the day:</h3>    <!--unless there is no product of today-->
			<img width="200px" th:src="@{'data:image/png;base64,' + ${product.getImage()}}" />
			<p>Name of the product: <label th:text="${product.name}"></label></p>
			<!-- Questionnaire of the day -->
			<div th:if="${userHasAlreadyFilled}">
				<p>You already filled today's questionnaire. Come back in the following days for new questionnaires!</p>
			</div>
			<div th:unless="${userHasAlreadyFilled}">
				<p>Questionnaire: </p>
				<a th:href="@{/GoToMarketingQuestionnaire}">
					<button type="submit">Fill out the questionnaire of today's product</button>
				</a>
			</div>
	    </div>
		<h3 th:unless="${product}">There is no product of the day! See you tomorrow :)</h3>
	    
		<!-- Leaderboard -->
		<div>
			<h3>Leaderboard:</h3>
			<a th:href="@{/GoToLeaderboard}"><button type="button">Check your points</button></a>
		</div>
		<!-- Product reviews -->	
		<div th:if="${product}">
			<h3>Reviews of the product wrote by our users:</h3>
			<table>
				<thead>
					<tr>
						<th>Username</th>
						<th>Testo</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="r : ${reviews}">
						<td th:text="${r.getKey().getUsername()}"></td>
						<td th:text="${r.getValue()}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- Admin panel -->
        <div>
			<div th:if="${user.getAdmin}">
				<p><b>Admin Dashboard</b></p>
				<ul>
				<li><a href="GoToCreationPage">Create a new Questionnaire</a></li>
				<li><a href="GoToDeletionPage">Delete a past Questionnaire</a></li>
				<li><a href="GoToInspectionPage">Inspection Page</a></li>
				</ul>
			</div>			
		</div>
	</body>
</html>