<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>InspectionPage</title>
		<form th:action="@{/GoToInspectionPage}" method="POST">
		<label>Select a questionnaire date:</label>
				<input type="date" th:min="${today}" name="questionnaireDate" th:value="${date_of_questionnaire}"  placeholder="yyyy-mm-dd" required>
				<input type="submit" value="Show" name="Show questionnaire data">
		</form>
		
		<h2>Statistical Answers</h2>
		<div th:if="${statisticalAnswers}">
			<h3>Statistical answers given by our users:</h3>
			<table>
				<thead>
					<tr>
						<th>Username</th>
						<th>Sex</th>
						<th>Age</th>
						<th>Experience</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="s: ${statisticalAnswers}">
						<td th:text="${s.getKey().getUser().getUsername()}"></td>
						<td th:text="${s.getSex()}"></td>
						<td th:text="${s.getAge()}"></td>
						<td th:text="${s.getExperience()}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<h2>Marketing Answers</h2>
		<div th:if="${marketingAnswers}">
			<h3>Statistical answers given by our users:</h3>
			<table>
				<thead>
					<tr>
						<th>Username</th>
						<th>Marketing Answer</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="m: ${marketingAnswers}">
						<td th:text="${s.getKey().getUser().getUsername()}"></td>
						<td th:text="${s.getAnswer()}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</head>
<body>

</body>
</html>